@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  color: #212244;
}

/* body{
    width: 1366px;
    height: 4000px;
} */

/* hero/header------------------------------------------- */
.header {
  /* width: 1907px;
    height: 940px; */
  background-image: url(./resources/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.header-container {
  /* width: 70%; */
  padding-inline: 150px;
}
@media screen and (max-width: 480px) {
  .header-container {
    /* width: 70%; */
    padding-inline: 50px;
  }
}

/* navbar --------------------------------------------------*/
nav {
  background-image: url(./resources/hero.jpg);
  background-repeat: no-repeat;
}
.logo {
  width: 150px;
  height: 30px;
  cursor: pointer;
}
.nav-mid-div > h6 {
  cursor: pointer;
  padding-inline: 7px;
  font-size: 15px;
}
.nav-right-div > div > input {
  height: 30px;
}
.nav-search-bar {
  color: #8e8e9c;
  background-color: rgb(255, 255, 255);
  width: 200px;
  height: 35px;
  border-radius: 8px;
  border: 1px solid #f0f0f2;
}
.nav-search-bar > input {
  border: none;
  background-color: transparent;
  border-right: 1px solid #f0f0f2;
  margin-right: 5px;
  font-size: 12px;
  padding-left: 20px;
}
.nav-search-icon {
  /* height: 30px; */
  margin-left: 5px;
  /* margin-top: 5px; */
  cursor: pointer;
  padding-right: 20px;
}
.nav-cart-icon {
  width: 15px;
  height: 15px;
  color: #f94a3d;
  cursor: pointer;
}
.nav-right-div > button {
  height: 35px;
  width: 80px;
  border: none;
  color: white;
  background-color: #f94a3d;
  border-radius: 5px;
  font-size: small;
}

@media screen and (max-width: 480px) {
  nav,
  .nav-mid-div,
  .nav-right-div {
    flex-direction: column;
    padding-top: 20px;
  }
  .nav-right-div > button,
  .nav-right-div > i {
    margin-top: 20px;
  }
}

/* hero-info --------------------------------------------------*/
.hero-info {
  margin-block: 150px;
}
.hero-info-label {
  width: 220px;
  background-color: #fdecec;
  border-radius: 20px;
  padding-right: 0px;
  margin-bottom: 10px;
}
.label-text {
  color: #f94a3d;
  font-weight: 600;
}
.label-img {
  background-color: #f8f8f8;
  border-radius: 50%;
}
.hero-info-h1-1 {
  color: #212244;
  font-size: 49px;
  font-weight: 600;
}
.hero-info-h1-2 {
  color: #f94a3d;
  font-size: 49px;
  font-weight: 600;
}
.hero-info-p {
  color: #84828f;
  line-height: 0.8rem;
}
.hero-info-btn {
  height: 50px;
  width: 150px;
  border: none;
  color: white;
  background-color: #f94a3d;
  border-radius: 10px;
  font-size: small;
}

/* catalogue----------------------------------------- */
.catl-container-main {
    margin-bottom: 150px;
}
.why-we-div {
    margin-top: 70px;
}
.why-we-text {
  /* width: 290px; */
  margin-right: 30px;
  margin-top: 10px;
}
.why-we-text-bold {
  color: #212244;
  font-size: 40px;
  font-weight: 600;
}
.why-we-text-para {
  color: #84828f;
  line-height: 0.8rem;
}
.why-we-cards-div {
}
.why-we-cards {
  width: 280px;
  height: 330px;
  border: 1px solid;
  padding: 40px;
  padding-top: 40px;
  margin-inline: 15px;

  /* gradient border */
  background: linear-gradient(white, white) padding-box,
    linear-gradient( transparent, #ececec) border-box;
  border-radius: 20px;
  border: 4px solid transparent;
}
.why-we-cards:hover{
    /* gradient border */
  background: linear-gradient(white, white) padding-box,
  linear-gradient( transparent, #ffcf04) border-box;
border-radius: 20px;
}

.why-we-cards-images {
  /* parent */
  position: relative;
  margin-bottom: 0;
}
.why-we-cards-pic1 {
  position: relative;
}
.why-we-cards-pic2 {
  position: absolute;
  top: -35%;
  right: -10%;
}
.why-we-cards>h3{
    font-size: 26px;
    font-weight: 600;
}

.menu-div{
    /* border-bottom: 1px solid rgb(219, 219, 219); */
    margin-top: 35px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.menu-heading{
    color: #212244;
    font-size: 41px;
    font-weight: 600;
    margin-bottom: 37px;
}
.menu-list{
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.menu-list>li{
    color: #212244;
    list-style-type: none;
    text-transform: capitalize;
    font-weight: 550;
    font-size: 15px;
    margin-inline: 18px;
    padding-bottom: 6px;
    cursor:default;
    border-bottom: 3px solid transparent;
}
.menu-list>li:hover{
  color: #f94a3d;
  border-bottom: 3px solid #fd6e64;
}

.menu-cards-div{
    margin-top:0px;
    padding-top: 90px;
    border-top: 1px solid rgb(214, 214, 214);
}
.menu-card{
    width: 280px;
    height: 330px;
    border: 1px solid;
    /* padding: 40px; */
    /* padding-top: 40px; */
    margin-inline: 15px;
  
    /* gradient border */
    background: linear-gradient(white, white) padding-box,
      linear-gradient( transparent, #e0e0e0) border-box;
    border-radius: 20px;
    border: 3px solid transparent;
}
.menu-card:hover{
    /* gradient border */
  background: linear-gradient(white, white) padding-box,
  linear-gradient( transparent, #ffcf04) border-box;
border-radius: 20px;
}
.menu-card>img{
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
}
.menu-card-ratings{
    margin-bottom:10px;
}
.menu-card-ratings>img{
    width: 14px;
    height: 13px;
    margin-inline: 3px;
    cursor: pointer;
}
.menu-card>h4{
    color: #212244;
    font-size: 17px;
    font-weight: 700;
    margin-top: 5px;
}
.menu-card>p{
  color: #84828f;
  font-size: 18px;
  margin-bottom: 13px;
}
.menu-card>p>span{
  color: #f94a3d;
  font-weight: 600;
}
.menu-card-btn{
    width: 110px;
    height: 35px;
    border: 1.5px solid #f94a3d;
    background-color: white;
    color: #f94a3d;
    font-size: 13px;
    font-weight: 600;
    border-radius: 8px;
}
.menu-card-btn:hover{
    background-color: #f94a3d;
    color: white;
    font-size: 12px;

}
